* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.header {
    background-color: rgb(75, 141, 179);
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 1%;
    border-bottom: 0.5rem solid black;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(75, 141, 179);
    color: aliceblue;
    padding: 1%;
    border-top: 0.5rem solid black;
    width: 98%;
}

.nav {
    height: 5vh;
    align-items: center;
    font-size: 3vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav a{
    color: gray;
}

.nav a:hover {
    color: black;
}

.cadastro {
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 3px;
    border: 3px solid black;
    margin: 7.5% 30%;
    padding: 5%;
}

.musicas {
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 3px;
    border: 3px solid black;
    margin: 5% 30%;
    padding: 3%;
}

input {
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    height: 1.5rem;
}